.detected {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.loading {
  color: white;
}

.sound {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.name {
  color: white;
  padding-bottom: 0.2rem;
}

.button {
  width: 10rem;
  margin-left: 0.5rem;
}
