.Layout {
  min-height: 100vh;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem;

  font-size: 1.4rem;
  font-weight: 600;
  color: white;

  .title {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    padding-bottom: 3rem;
  }
}
