@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css);
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .label {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
  }
}

.column {
  $padding: 3rem;
  padding-right: $padding;
  padding-left: $padding;
}

.button {
  $padding: 3rem;
  padding-right: $padding;
  padding-left: $padding;
}
